
*.aux

*.blg

*.lof

*.log

*.out

*.gz

*.toc

*.lot

*.bbl
Defense Presentation.pptx
Defense Presentation-bi.ppt
pictures/Manip2.jpg
pictures/Augmentparts.png
pictures/Augmentparts.jpg
pictures/20180726_024222.jpg
pictures/20180726_023601.jpg
pictures/20180726_023546.jpg
Defense Presentation-bi.pptx
Defense Presentation.ppt
Defense Presentation.ppt
Defense Presentation.ppt
